<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="8GFAAPFELEVEW">
<table>
<tr><td><input type="hidden" name="on0" value="wii drink pee, stairing through the peehole">wii drink pee, stairing through the peehole</td></tr><tr><td><select name="os0">
	<option value="course tution fees">course tution fees $600.00 CAD</option>
	<option value="kennyd, puts the pascal in">kennyd, puts the pascal in $60.00 CAD</option>
	<option value="corprate listing on dirigible">corprate listing on dirigible $60,000.00 CAD</option>
	<option value="consultant">consultant $6,000.00 CAD</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="CAD">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
